<div class="column-layout_6 column">
  <igx-navbar class="navbar">
    <div igxNavbarAction class="column-layout_1 column">
      <igx-icon font="material" [active]="true" class="icon_1">menu</igx-icon>
    </div>
    <div igxNavbarTitle>Viewing David Cardale</div>
    <div class="column-layout_5 column">
      <igx-icon font="material" [active]="true" class="icon_1">add</igx-icon>
    </div>
  </igx-navbar>
  <div class="row-layout row">
    <div class="column-layout_2 column">
      <igx-list class="list">
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Name</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Peter Cologne</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Adam Thiel</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Amanda Cruz</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Veronica Christensen</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Anne Marie Ferguson</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Jayden Christopher</h4>
        </igx-list-item>
      </igx-list>
      <igx-buttongroup alignment="horizontal" [disabled]="false" class="button-group">
        <button igxButton [disabled]="false" class="button_1">
          <span>Button</span>
        </button>
        <button igxButton [disabled]="false" class="button_1">
          <span>Button</span>
        </button>
        <button igxButton [disabled]="false" class="button_1">
          <span>Button</span>
        </button>
        <button igxButton [disabled]="false" class="button_1">
          <span>Button</span>
        </button>
      </igx-buttongroup>
      <igx-expansion-panel class="expansion-panel">
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Title goes here</igx-expansion-panel-title>
          <igx-expansion-panel-description>Subtitle...</igx-expansion-panel-description>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body class="body">
          <p class="text_1"></p>
        </igx-expansion-panel-body>
      </igx-expansion-panel>
    </div>
    <div class="column-layout_3 column">
      <div class="column-layout_7 column">
        <div class="row-layout_1 row">
          <div class="column-layout_8 column">
            <div class="row-layout_3 row">
              <div class="column-layout_4 column">
                <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="large" class="avatar"></igx-avatar>
                <igx-badge type="primary" value="65" class="badge"></igx-badge>
              </div>
            </div>
            <div class="row-layout_2 row">
              <p class="text">Name</p>
              <div class="column-layout column">
                <igx-badge type="primary" value="Admin" class="badge_1"></igx-badge>
              </div>
            </div>
            <p class="igx-typography__body-2 text">Gender - Birthdate</p>
          </div>
        </div>
        <button igxButton="fab" type="fab" [disabled]="false" class="button">
          <igx-icon class="icon">edit</igx-icon>
        </button>
      </div>
    </div>
  </div>
</div>
